
/*#region Navbar*/
nav li {
    color: darkblue;
    text-decoration: solid;
}
nav li hover{
    background-color:darkred;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

nav ul {
    background-color: lightblue;
    padding: 0;
    border-top: 3px inset red;
    border-bottom: 3px inset red;
    border-left:3px inset red;
    border-right:3px inset red;
}
nav a:hover,nav a:active, nav a:focus{
    text-decoration:none;
}
/*#endregion*/
/*#region Basic Styling*/
body{
    background-color:palegoldenrod;
}
#boldText{
    text-decoration:wavy;
    font:bold 20px "Palpatino Linotype","Book Antiqua", Palpatino, serif;

}
/*#endregion*/
/*#region Wrapper styling and Padding*/
#mainWrapper{
    padding:2%;
}
#boldWrapper{
    padding:1%
}
#headerWrap {
    background-image: url(../images/cliffVillage.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 3% center;
    padding: 2em;
}

header h1 {
    text-align: left;
    letter-spacing: 0.1em;
    color: darkslateblue;
}
header h1, header p {
    margin: 7px 0 7px 150px;
}
/*#endregion*/

.sidenav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    padding-top: 5em;
    overflow-x: hidden;
    transition: .5s;
    width: 0px;
    z-index: 1030;
}

    .sidenav a {
        display: block;
        text-decoration: none;
        font-size: 1.5em;
        color: #818181;
        transition: .5s;
        padding: 8px;
        text-align: center;
    }

        .sidenav a.close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 3em;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }